<div class="center">
  <div>
    <h2 style="display: inline-block" class="hi">Hi Chubby </h2> <h2 style="display: inline-block" class="emoji hi">:)</h2>

  </div>
	<input type="text" id="code" #code class="password" placeholder="enter anniversary: mmddyyyy" autocomplete="off"/>
	<br>
	<br>
	<button (click)="buttonGo(code.value)" class="buttonGo forTimeline" role="button">GO</button>
  
</div>

<div class="center2">
  <button (click)="start()" class="button-30" style="z-index: 10;" role="button">Start</button>
</div>
<img src="assets/christmasTree.png" class="christmasTree" alt="christmasTree">
<img src="assets/christmasGiftBox.png" class="christmasGiftBox" alt="christmasGiftBox">


<div class="center3" id="center3">
  <div class="halo" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 >HALLOO CHUBBYYY :)</h3>
    <img src="assets/goma1.jpg" class="" style="width: 100px;height:100px;margin: auto;display: block" alt="">
  </div>
  
  <div class="two" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3>Precious date isn't?</h3>
    <img src="assets/goma2.gif" class="" style="width: 100px;height:100px;margin: auto;display: block" alt="">
  </div>
  
  <div class="three" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 style="font-size: 30px;">Anyway...</h3>
  </div>

  <div class="four" style="width: 98%;height:200px;margin: auto;position: fixed;margin-left: -20%;top: 65px;">
    <h3 class="four-1" style="font-size: 350px;font-weight: 800;">HAPPY</h3><br><br>
    <h3 class="four-2" style="font-size: 350px;font-weight: 800;">1st</h3><br><br>
    <h3 class="four-3" style="font-size: 350px;font-weight: 800;">ANNIVERSARY</h3><br><br>
    <h3 class="four-4" style="font-size: 350px;font-weight: 800;">CHUBBYYYY:)</h3>
    <img src="assets/goma3.gif" class="four-5" style="margin: auto;display: block" alt="">
    
    <img src="assets/chubby2.jpeg" class="four-6"  style="top: 720px;left: 40px;margin: auto;position: fixed;">
    <img src="assets/chubby3.jpeg" class="four-7"  style="top: 720px;left: 40px;margin: auto;position: fixed;width: 769px;height: 979px;">
    <img src="assets/chubby4.jpeg" class="four-8"  style="top: 720px;left: 40px;margin: auto;position: fixed;width: 769px;height: 979px;">
    <img src="assets/chubby5.jpeg" class="four-9"  style="top: 720px;left: 40px;margin: auto;position: fixed;width: 769px;height: 979px;">
    <img src="assets/chubby6.jpeg" class="four-10"  style="top: 720px;left: 40px;margin: auto;position: fixed;width: 769px;height: 979px;">
  </div>

  <div class="five" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 style="font-size: 30px;">I was thinking about the gift for my Chubby...</h3>
  </div>

  <div class="six" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 style="font-size: 30px;">I want it to be different and meaningful...</h3>
  </div>
  <div class="seven" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 style="font-size: 30px;">..that she will reminisce every moment...</h3>
  </div>
  <div class="eight" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 style="font-size: 30px;">As I have always said...</h3>
  </div>
  <div class="nine" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 style="font-size: 30px;">"You were the light to my darkest night."</h3>
  </div>
  <div class="ten" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 style="font-size: 30px;">Words can't explain how much you mean to me...</h3>
  </div>
  <div class="eleven" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 style="font-size: 30px;">I just want you to remember...</h3>
  </div>
  <div class="twelve" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 style="font-size: 30px;">I will always be here for you :)</h3>
  </div>
  <div class="thirteen" style="width: 98%;height:200px;margin: auto;position: fixed;">
    <h3 style="font-size: 30px;">LAB YOUUUUUUU CHUBBYYY CUTEEEEEE :)</h3>
  </div>

  <img src="assets/we26.jpg" class="we" style="top: 363px;left: 22px;margin: auto;position: fixed;width: 250px;">
  <img src="assets/we4.jpg" class="we2" style="top: 363px;left: 88px;margin: auto;position: fixed;width: 250px;">
  <img src="assets/we29.jpeg" class="we3" style="top: 288px;left: 64px;margin: auto;position: fixed;width: 230px;">
  <img src="assets/we32.jpeg" class="we4" style="top: 288px;left: 64px;margin: auto;position: fixed;width: 230px;">
  <img src="assets/we27.jpeg" class="we5" style="top: 288px;left: 64px;margin: auto;position: fixed;width: 230px;">
  <img src="assets/we33.jpeg" class="we6" style="top: 297px;left: 55px;margin: auto;position: fixed;width: 250px;">
  <img src="assets/we31.jpeg" class="we7" style="top: 307px;left: 94px;margin: auto;position: fixed;width: 203px;">
  <img src="assets/we35.jpeg" class="we8" style="top: 276px;left: 94px;margin: auto;position: fixed;width: 174px;">
  <img src="assets/we36.jpeg" class="we9" style="top: 367px;left: 94px;margin: auto;position: fixed;width: 218px;">
  <img src="assets/we8.jpg" class="we10" style="top: 367px;left: 55px;margin: auto;position: fixed;width: 270px;">
  <img src="assets/we14.jpg" class="we11" style="top: 367px;left: 40px;margin: auto;position: fixed;width: 290px;">
  <img src="assets/we10.jpg" class="we12" style="top: 367px;left: 40px;margin: auto;position: fixed;width: 300px;">
  <img src="assets/we25.jpg" class="we13" style="top: 370px;left: 40px;margin: auto;position: fixed;width: 300px;">
  <img src="assets/we24.jpg" class="we14" style="top: 725px;left: 40px;margin: auto;position: fixed;width: 300px;">

</div>

<!-- <audio autoplay>
  <source id="myAudio"  src="/src/assets/ChristmasIntro.m4a" type="audio/mpeg">
Your browser does not support the audio element.
</audio> -->




<div class="footer">
	<p>created by Chubby (12/15/2022)</p>
</div>