<div class="center">
  <div>
    <h2 style="display: inline-block" class="hi">Hi Chubby </h2> <h2 style="display: inline-block" class="emoji hi">:)</h2>

  </div>
	<input type="text" id="code" #code class="password" placeholder="enter anniversary: mmddyyyy" autocomplete="off"/>
	<br>
	<br>
	<button (click)="buttonGo(code.value)" class="buttonGo forTimeline" role="button">GO</button>
  
</div>

<div class="center2">
  <button (click)="start()" class="button-30" role="button">...</button>
</div>
<img src="assets/christmasTree.png" class="christmasTree" alt="christmasTree">
<img src="assets/christmasGiftBox.png" class="christmasGiftBox" alt="christmasGiftBox">

<!-- <audio autoplay>
  <source id="myAudio"  src="/src/assets/ChristmasIntro.m4a" type="audio/mpeg">
Your browser does not support the audio element.
</audio> -->




<div class="footer">
	<p>created by Jake</p>
</div>